<% title 'Weeks' %>
<h1>Listing weeks</h1>

<div class="date">Today is <%= @strToday %></div>

<table class="table">
  <thead>
    <tr>
      <th>Firstday</th>
      <th>oAVG</th>
      <th>dAVG</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @weeks %>
  </tbody>
</table>

<div class="pnp-week_new_week_form">
  <%= render 'weeks/new_week_form' %>
</div>