<h1>P n' P</h1>
<p>Welcome. Today is <%= @strToday %></p>

<div>
	<div>
		<%= link_to 'Weeks', weeks_path, :class=>'btn btn-small btn-primary' %>
	</div>
	<div>
		<%= link_to 'Days', days_path %>
	</div>
</div>