<h1>Listing ods</h1>

<div class="col-xs-12 col-sm-4 col-md-3">

  <table class="table">
    <thead>
      <tr>
        <th>Timekey</th>
        <th>O</th>
        <th>D</th>
      </tr>
    </thead>

    <tbody>
      <% @ods.each do |od| %>
        <tr>
          <td class="timekey"><%= od.timekey %></td>
          <td><%= link_to enable_link_text(od.o), toggle_o_od_path(od), :remote => true, :class=>"btn-enable btn btn-small " + enable_btn_class(od.o) %></td>
          <td><%= link_to enable_link_text(od.d), toggle_d_od_path(od), :remote => true, :class=>"btn-enable btn btn-small " + enable_btn_class(od.d) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>