body.pnp-app.pnp-show
	div.pnp-container
		#pnp-top-section
			position: fixed
			/*left: 0*/
			top: 0
			height: 156px
			/*padding-left: 20px*/
			padding-top: 20px
			background-color: white
			width: 100%
		table.table
			margin-top: 156px
		.is-today
			text-decoration: underline
			color: red
		.navigator
			text-align: center
			border-bottom-width: 2px
			border-bottom-style: solid
			border-bottom-color: lightgray
			padding-bottom: 5px
			div
				display: inline-block
			div.current-month
				width: 125px
