$top-content-height: 124px

body.pnp-app.pnp-day.pnp-show
	div.pnp-container
		#pnp-top-section-playground
			position: fixed
			/*left: 0*/
			top: 0
			height: $top-content-height
			/*padding-left: 20px*/
			background-color: white
			width: 100%
		table.table.playground
			margin-top: $top-content-height
		.navigator
			text-align: center
			border-bottom-width: 2px
			border-bottom-style: solid
			border-bottom-color: lightgray
			padding-bottom: 5px
			div
				display: inline-block
			div.current-month
				width: 125px
